[Desktop Entry]
Version=1.0
Type=Application
Name=PT-BDtool
Comment=Beginner-friendly PT-BDtool launcher
Exec=ptbd-start
Terminal=true
Categories=Utility;
